{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">This service doesn't support non-residential developments</h1>

      <p class="govuk-body">
        The Nature Restoration Fund levy calculator is currently only available for residential developments.
      </p>

      <p class="govuk-body">
        If you need to calculate a levy for a non-residential development, please contact us.
      </p>
    </div>
  </div>
{% endblock %}
